body {
    font-family: garamond;
    text-align: center;
    font-size: 300%;
    background: linear-gradient(to right, rgb(157, 222, 248), rgb(255, 218, 243));
}

.image-container {
    display: flex;
}

p {
    background-color: #7e47ff85;
}

.image-container img {
    width: 20%;
    height: 100%;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
    border: 0.1mm solid rgb(0, 0, 0);
}

input[type=submit] {
    padding: 5px 15px 10px 15px;
    background: #faf9f9;
    cursor: pointer;
    border-radius: 25px;
    border: #ffffff;
    font-size: 30px;
    font-family: garamond;
}

input[type=submit]:hover {
    background: #9a8ba3;
}

.map-iframe {
    width: 100%;
    height: 600px;
    margin-top: 100px;
}
.music {
    width: 90%!important;
    height: 600px;
    margin: 100px 20px 0px 20px;
}

@media (max-width: 768px) {
 

    input[type=submit] {
        font-size: 20px;
        padding: 3px 10px;
    }
}



