body {
    font-family: garamond;
    font-size: 150%;
    background-image: url(sources/background-1.jpg);
    background-repeat: round;
    height: 100%;
}

main {
    padding: 2%;
    margin-top: 30px;
}

h1 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(123, 93, 255, 0.808);
    ;
    background-color: rgba(252, 252, 252, 0.534);
}

h3 {
    margin-bottom: -25px;
}

hr {
    height: 2px;
    border-width: 0;
    width: 100%;
    background-color: gray;
}

ul {
    list-style-type: none;
}

header {
    position: fixed;
    margin-top: -30px;
    margin-left: -10px;
    background-color: rgba(123, 93, 255, 0.26);
    width: 100%;
}

header a {
    text-decoration: none;
    color: rgb(147, 147, 147);
}

a:hover {
    color: rgb(217, 29, 255)
}

header ul {
    margin: 0;
    padding-left: 50px;
    padding-bottom: 30px;
}

header li {
    float: left;
    margin-right: 25px;
}

footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: rgb(147, 147, 147);
}

footer p{
    margin: 0px;
}

.main_info {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 50%;
    background-color: rgba(252, 252, 252, 0.534);
}

.contacts {
    float: right;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    font-size: 80%;
    text-align: right;
    background-color: rgba(252, 252, 252, 0.534);
}

.contacts h3 {
    margin-bottom: 5px;
}

.skills {
    text-align: center;
    margin-top: 25px;
    padding: 10px;
    background-color: rgba(252, 252, 252, 0.534);
}

form {
    width: 300px;
}

form label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}
  
button[type="submit"] {
    padding:5px 15px 10px 15px; 
    background:#faf9f9; 
    cursor:pointer;
    border-radius: 25px;
    border: 1px solid #9a8ba3;
    font-size: 20px;
    font-family: garamond;
}
  
button[type=submit]:hover {
    background:#9a8ba3; 
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    outline: none;
    border-color: rgba(101, 18, 139, 0.42);
}

.output {
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
}

.output input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.output p{
    margin-top: 10px;
    margin-bottom: 5px;
}